USE [master]
GO
/****** Object:  Database [Practica_Clase4]    Script Date: 06/06/2014 01:32:38 ******/
CREATE DATABASE [Practica_Clase4]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica_Clase4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica_Clase4]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/06/2014 01:32:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreLogin] [nvarchar](20) NOT NULL,
	[Pass] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
